@model Railway.Models.Station

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Station</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StationID" class="control-label"></label>
                <input asp-for="StationID" class="form-control" />
                <span asp-validation-for="StationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformNo" class="control-label"></label>
                <input asp-for="PlatformNo" class="form-control" />
                <span asp-validation-for="PlatformNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfArrival" class="control-label"></label>
                <input asp-for="TimeOfArrival" class="form-control" />
                <span asp-validation-for="TimeOfArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfDeparture" class="control-label"></label>
                <input asp-for="TimeOfDeparture" class="form-control" />
                <span asp-validation-for="TimeOfDeparture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainID" class="control-label"></label>
                <select asp-for="TrainID" class ="form-control" asp-items="ViewBag.TrainID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
